@font-face {
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

#rootvb
{
  -fx-background-image: url(../icons/signup_BG_IMGv2.png);
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-background-position: center;
}

.label
{
  -fx-font-family: "Plus Jakarta Sans Medium";
  -fx-font-size: 24;
  -fx-text-fill: #19202c;
}

#header
{
  -fx-font-family: "Plus Jakarta Sans Bold";
  -fx-font-size: 48;
}

#showpass
{
  -fx-text-fill:#044dbb;
}

#signup, #login
{
  -fx-font-family: "Plus Jakarta Sans Medium";
  -fx-font-size: 24;
  -fx-text-fill:#fff;
  -fx-background-color: #044dbb;
  -fx-background-radius: 28;
  -fx-border-radius: 28;
}

.text-field
{
  -fx-border-width: 1.5;
  -fx-border-radius: 8;
  -fx-border-color: #044dbb;
  -fx-background-color: #fff;
  -fx-background-radius:8;
  -fx-font-size: 24px;
  -fx-font-family: "Plus Jakarta Sans";
}

.text-input
{
  -fx-prompt-text-fill: #a1a1a1;
  -fx-font-size:20;
}

.check-box > .box {
  -fx-background-color:#fff;
  -fx-border-color: #044dbb;
  -fx-border-radius: 4;
  -fx-border-width: 1;
  -fx-padding: 4;
}
.check-box > .box > .mark {
  -fx-background-color: #fff;
}
.check-box:selected > .box
{
  -fx-background-color:#044dbb;
}