.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

.scroll-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background: #fff;
}


.scroll-pane:focused {
  -fx-background-insets: 0;
}

.scroll-pane .corner {
  -fx-background-insets: 0;
}

.button
{
  -fx-effect: none;
}

#header, #monthyear
{
  -fx-font-size: 36;
  -fx-text-fill:#1d2366;
  -fx-font-family: "Plus Jakarta Sans Bold";
}
#headerbox
{
  -fx-background-color: white;
  -fx-effect: dropshadow(one-pass-box, #002d7123, 12, 0.0, 0, 3);
}

.desc
{
  -fx-font-family: "Plus Jakarta Sans Medium";
  -fx-text-fill: #044dbb;
  -fx-font-size: 24;
}

.calbg{
  -fx-background-color: #fff;
  -fx-border-radius: 20;
  -fx-background-radius: 20;
  -fx-effect: dropshadow(one-pass-box, #002d7123, 20, 0.5, 0, 0);
  -fx-font-size: 20;
  -fx-text-fill: #044dbb;
  -fx-font-family: "Plus Jakarta Sans Medium";
}

#monthyear
{
  -fx-font-size: 28;
  -fx-font-family: "Plus Jakarta Sans SemiBold";
  -fx-text-fill: #044dbb;
  
}

#appointment
{
  -fx-text-fill: #1d2366;
}

#duetxt
{
  -fx-font-size: 24;
  -x-font-family: "Plus Jakarta Sans Medium";
  -fx-text-fill: #1d2366;

}

.separator .line
{
  -fx-pref-height: 2;
  -fx-border-color:null;
}

.chevron
{
  -fx-background-color: transparent;
}

.week
{
  -fx-font-family: "Plus Jakarta Sans SemiBold";
  -fx-text-fill: #044dbb;
  -fx-font-size: 24;
}

/*POPUP STYLE */
.choice-box > .open-button > .arrow
{
  -fx-background-color: #044dbb;
}
.choice-box, .text-input
{
  -fx-background-color: #fff;
  -fx-background-radius: 12px;
  -fx-text-fill: #044dbb;
  -fx-border-radius: 8px;
  -fx-border-width: 2;
  -fx-border-color: #044dbb;
  -fx-font-family: "Plus Jakarta Sans";
  -fx-font-size: 20;
}


.text-input
{
  -fx-text-fill: #1d2366;
  -fx-font-size: 22;
}

.popupButton
{
  -fx-font-size: 20;
  -fx-background-color: #044dbb;
  -fx-border-radius: 16;
  -fx-text-fill: #fff;
  -fx-background-radius: 16;
}