@font-face {
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

.scroll-pane {
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-pane:focused {
  -fx-background-insets: 0;
}

.scroll-pane .corner {
  -fx-background-insets: 0;
}

#headbar-sep .line
{
  -fx-background-color: #044dbb;
  -fx-pref-height: 2;
  -fx-border-color: null;
}

.label
{
  /* -fx-font-family: "Plus Jakarta Sans Medium"; */
  -fx-font-size: 24px;
  -fx-text-fill: #19202c;
}
#title
{
  -fx-font-family: "Plus Jakarta Sans SemiBold";
  -fx-font-size: 44px;
  -fx-text-fill: #fff;

}
.text-field
{
  -fx-border-width: 1 1 2 1;
  -fx-border-radius: 4;
  -fx-border-color: #b7bac4 #b7bac4 #044dbb #b7bac4;
  -fx-background-color: #fff;
  -fx-font-size: 24px;
  -fx-font-family: "Plus Jakarta Sans";
}

#small-text, #choosetxt
{
  -fx-font-family: "Plus Jakarta Sans";
  -fx-font-size: 18px;
  -fx-text-fill: #aeaeae;
}

#dob
{
  -fx-border-width: 1px;
  -fx-border-color: #b7bac4;
  -fx-border-radius: 4;
}

.radio-button
{
  -fx-font-size: 20px;
}

.radio-button:selected .radio .dot {
  -fx-background-color: #044dbb;
  -fx-background-insets: 0;
}

#choosetxt
{
  -fx-font-family: "Plus Jakarta Sans Medium";
  -fx-text-fill: #7098d4
}

.check-box .text
{
  -fx-font-size: 20px;
}

.check-box
{
  -fx-background-color: #fff;
}
.check-box:selected .box
{
  -fx-background-color: #044dbb;
}

.check-box:selected .mark
{
  -fx-background-color: #fff;
  -fx-color: #fff;
}

#head
{
  -fx-font-size: 28px;
  -fx-font-family: "Plus Jakarta Sans SemiBold";
}

.button
{
  -fx-background-color: #044dbb;
  -fx-background-radius: 8;
  -fx-font-size: 20;
  -fx-font-family: "Plus Jakarta Sans SemiBold";
  -fx-effect: none;
}

.button:focused
{
  -fx-effect:none;
}

.button:hover
{
  -fx-effect: none;
  -fx-background-color: #c9e8ff;
  -fx-text-fill: #044dbb;
}
.button:pressed
{
  -fx-background-color: #adcce3;
  -fx-text-fill: #044dbb;
}
.date-picker
{

}