@font-face {
  src: url(../fonts/PlusJakartaSans-Regular.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Medium.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-SemiBold.ttf);
}
@font-face {
  src: url(../fonts/PlusJakartaSans-Bold.ttf);
}

.root
{
-fx-font-family: "Plus Jakarta Sans SemiBold";
-fx-text-fill: #1d2366;
}

#headerbox
{
  -fx-background-color: white;
  -fx-effect: dropshadow(one-pass-box, #002d7123, 12, 0.0, 0, 3);
}

#header, #acc-txt
{
  -fx-font-family: "Plus Jakarta Sans Bold";
  -fx-font-size: 36;
}

#acc-txt
{
  -fx-font-size: 28;
}

.details, .button
{
  -fx-font-size: 24;

}

.text-field
{
  -fx-border-width: 1.5;
  -fx-border-radius: 8;
  -fx-border-color: #044dbb;
  -fx-background-color: #fff;
  -fx-background-radius:8;
  -fx-font-size: 24px;
  -fx-font-family: "Plus Jakarta Sans";
}

.viewport-btn{

  -fx-font-size: 24;
  -fx-text-fill:#fff;
  -fx-background-color: #044dbb;
  -fx-background-radius: 16;
  -fx-border-radius: 16;
}

.viewport-btn:hover
{
  -fx-background-color: #d1e4ff;
  -fx-border-width: 2;
  /* -fx-border-color: #044dbb; */
  -fx-text-fill: #044dbb;
  -fx-background-insets:2;
}

.viewport-btn:focused
{
  -fx-effect: none;
}

.button
{
  -fx-effect: none;
}
